# 末尾~のファイルを無視
*~
# 実行ファイルは無視
*.out
*.exe
# pythonのキャッシュファイルは無視
*.pyc
# rime-out/下は無視
rime-out/
# rime*
rime*
#.DS_Storeは無視
.DS_Store
# prefix として __for_me_* をつけたファイルは無視する
__for_me_*
make.py
# emacsのアレ
\#*\#
*~
!.gitkeep
